    <%- include ('partials/header',{title:"Creo Engine"}) %> 

    <!--Home Section-->
    <section class="bg-main page-section" id="home">
     
        <div class="container">
            <div class="row">
                <div class="col-md-6" >
                    <div class="row middle-box-1">
                        <div class='text-left'>
                            <p class='font-barlow text-main text-bolder'>
                                <span class='text-main'>CREO</span><span class='text-bold text-secondary '>tion for All
                                </span>
                            </p>
                            <p class='text-big text-main font-poppins'>
                                Best Decentralized<br>
                                Gaming Ecosystem Platform
                            </p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6 text-center middle-box">
                    <img src='/public/assets/home1.png' class='img-fit'>
                </div>
            </div>
        </div>
        
    </section>

    <!-- Game Section-->
    <section class="bg-game page-section" id="game">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-4">
                    <span class="game-text" id="our-games-text">
                        Our Games
                    </span>
                    <p class="game-text">All CreoEngine games are interoperable,
                        <br>that gamers can enjoy with their NFTs<br>(non-fungible tokens).</p>
                </div>

                <div class="col-sm-8 ">
                    <div class="gallery js-flickity">
                        <div class="gallery-cell">
                            <div class="carousel-item-container" id="item1">
                                <br>
                                <div class="game-type-container">
                                    <span class="game-type-text" id="game-text-1">RPG</span>
                                </div>
                                <div class="game-img-container">
                                    <img class="img-box" src="public/assets/game.png"> 
                                </div>
                                <span id="game-desc-text">NFT Assets. Turn-Based. Anime-Inspired</span>
                                <div class="btn-container">
                                    <div class="btn-fit">
                                        <img class="img-box" src="public/assets/google-btn.png">
                                    </div>
                                    <div class="btn-fit">
                                        <img class="img-box" src="public/assets/apple-btn.png">
                                    </div>
                                </div>
                                <button id="btn-visit-website">Visit Website</button>
                            </div>
                        </div>
                        <div class="gallery-cell">
                            <div class="carousel-item-container" id="item1">
                                <br>
                                <div class="game-type2-container">
                                    <span class="game-type-text" id="game-text-2">More Games to come</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </section>

    <!-- Roadmap Section-->
    <section class="bg-roadmap page-section" id="roadmap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="/public/assets/roadmap1.png" class="roadmap-container" >
                </div>
                <div class="col-md-4">
                    <img src="/public/assets/roadmap2.png" class="roadmap-container">
                </div>
                <div class="col-md-4">
                    <img src="/public/assets/roadmap3.png" class="roadmap-container">
                </div>
            </div>
        </div>
    </section>

    <!--Sale Section-->
    <section class="bg-sale page-section" id="sale">
        <div class="container">
            <div class="row sale-container">
                <div class="col-md-3 container-box" id="container-box-1"> 
                    <div class="seed-sale-container" id="container1">
                        <br>
                        <div class="seed-sale-box">
                            <span class="sale-text" id="s1-text">Seed Sale - 1</span>
                        </div>
                        <div class="live-text-container">
                            <span class="time-text">LIVE SOON</span>
                        </div>

                        <div style="margin-left: 35px; margin-top: 20px;">
                            <span id="token-price-text" class="sale-text">Token Price<br>$0,015<br>
                                Total Allocation<br>
                                2% from total supply<br>
                                20,000,000 CreoEngine</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 container-box"> 
                    <div class="seed-sale-container" id="container2">
                        <br>
                        <div class="seed-sale-box">
                            <span class="sale-text" id="s1-text">Seed Sale - 2</span>
                        </div>
                        <div class="live-text-container">
                            <span class="time-text">COMING SOON</span>
                        </div>

                        <div style="margin-left: 35px; margin-top: 20px;">
                            <span id="token-price-text" class="sale-text">Token Price<br>$0,02<br>
                                Total Allocation<br>
                                3% from total supply<br>
                                30,000,000 CreoEngine</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3" id="container-box-3"> 
                    <div class="seed-sale-container" id="container2">
                        <br>
                        <div class="seed-sale-box">
                            <span class="sale-text" id="s1-text">Seed Sale - 3</span>
                        </div>
                        <div class="live-text-container">
                            <span class="time-text">COMING SOON</span>
                        </div>

                        <div style="margin-left: 35px; margin-top: 20px;">
                            <span id="token-price-text" class="sale-text">Token Price<br>$0,025<br>
                                Total Allocation<br>
                                5% from total supply<br>
                                50,000,000 CreoEngine</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <br>
        <%- include ('partials/footer') %> 
    </section>

    <!--Team Section-->
    <section class="bg-team page-section" id="team">
        <div class="container">
            <div class="row " style="margin-top: 7%;" >
                <div class="col-md-5">
                    <span class="team-text" id="our-team-text">
                        Our Team
                    </span>
                    <p class="team-text mobile-text" >The CreoEngine team is a group of developers, operators, marketers,
                        and designers with expertise in their respective fields
                    </p>
            
                    <p class="team-text desktop-text">The CreoEngine team is a group of developers, 
                        <br>operators, marketers, and designers with exper-<br>tise in their respective fields
                    </p>

                </div>
                <div class="col-md-7 align-items-center" >
                    <!-- <div class="team-container">
                        <img class="img-box" src="public/assets/team.png"> 
                    </div> -->
                    <table class="desktop-container">
                        <tr>
                            <% for (var i = 0; i < 5; i++) { %>
                                  <td>
                                      <div style="width: 140px; height: 140px; background-size: cover;">
                                          <img src="<%= list[i] %>" style="max-width: 100%; max-height: 100%;">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 5; i < 9; i++) { %>
                                <td>
                                    <div style="width: 150px; height: 150px; background-size: cover;">
                                        <img src="<%= list[i] %>" style="max-width: 100%; max-height: 100%;">
                                    </div>
                                </td>
                                       
                            <% } %>
                        </tr> 
                        <tr>
                            <% for (var i = 9; i < 13; i++) { %>
                                <td>
                                    <div style="width: 150px; height: 150px; background-size: cover;">
                                        <img src="<%= list[i] %>" style="max-width: 100%; max-height: 100%;">
                                    </div>
                                </td>
                                       
                            <% } %>
                        </tr> 
                    </table>

                    <table class="mobile-container">
                        <tr>
                            <% for (var i = 0; i < 3; i++) { %>
                                  <td>
                                      <div style="height: 130px; width: 100px;">
                                          <img src="<%= list[i] %>" style="max-width: 100%; max-height: 100%;">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 3; i < 6; i++) { %>
                                  <td>
                                      <div style="height: 130px; width: 100px;">
                                          <img src="<%= list[i] %>" style="max-width: 100%; max-height: 100%;">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 6; i < 9; i++) { %>
                                  <td>
                                      <div style="height: 130px; width: 100px;">
                                          <img src="<%= list[i] %>" style="max-width: 100%; max-height: 100%;">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 9; i < 12; i++) { %>
                                  <td>
                                      <div style="height: 130px; width: 100px;">
                                          <img src="<%= list[i] %>" style="max-width: 100%; max-height: 100%;">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div style="height: 130px; width: 100px;">
                                    <img src="<%= list[12] %>" style="max-width: 100%; max-height: 100%;">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
    <script src="/public//js/function.js"></script>

</body>
</html>