    <%- include ('partials/header',{title:"Creo Engine"}) %> 

    <!--Home Section-->
    <section class="bg-home page-section home-container" id="home">
        <div  class="container" id="home-adjust">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div>
                        <p class='text-main '>
                            <span class='text-main text-bolder'>CREO</span><span class='text-main-2 text-bolder '>tion for All</span>
                        </p>
                        <p class=' text-main-2' id="typing-container">
                            Best Decentralized<br>
                            <span style="color:#5481B0;" id="typed"></span>
                        </p>
                    </div>
                    
                    <div >
                        <button class="btn-home-join-us">Join Us</button>
                        <button class="btn-rounded"><i class="fab fa-discord fa-lg"></i></button>
                        <button class="btn-rounded"><i class="fab fa-telegram-plane fa-lg"></i></button>
                    </div>

                    <div class="btn-store-container" >
                        <span style="font-weight: 600;">Coming soon</span>
                        <div>
                            <button class="btn-store-apple">
                            </button>
                            <button class="btn-store-google">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div  class="img-fit">
                        <div  class="floating-img-container">
                            <div class="floating-3">
                                <img src="/public/assets/home (2).png" loading="lazy">
                            </div>
                            <div class="floating-4">
                                <img src="/public/assets/home (3).png" loading="lazy">
                            </div>
                            <div class="floating-2" >
                                <img src="/public/assets/home (4).png" loading="lazy">
                            </div>
                            <div class="floating-5">
                                <img src="/public/assets/home (5).png" loading="lazy">
                            </div>
                            <div class="floating">
                                <img src="/public/assets/home (6).png" loading="lazy">
                            </div>
                            <div id="icon-creo-home">
                                <img src="/public/assets/icon-creo-home.png" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <!-- Game/Feature Section-->
    <section class="bg-game page-section home-container" id="game" >
        <div class="container"  >
            <div class="row" >
                <div class="col-md-5" >
                    <div data-aos="fade-right">
                        <span class="white-color" id="our-games-text">
                            Our Creoverse
                        </span>
                        <p class="white-color">All CreoEngine games are interoperable,
                            <br>that gamers can enjoy with their NFTs<br>(non-fungible tokens).
                        </p>
                    </div>

                    <div  class="desktop-text" style="width: 350px;">
                        <img src="/public/assets/game-1.png" class="floating-game" loading="lazy">
                    </div> 
                </div>

                <div data-aos="flip-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="col-md-7">
                    <div class="gallery js-flickity">
                        <div class="gallery-cell">
                            <div class="carousel-item-container" id="item1">
                                <br>
                                <div class="game-type-container">
                                    <span class="game-type-text" id="game-text-1">RPG</span>
                                </div>
                                <div class="game-img-container">
                                    <img  src="public/assets/game.png"  loading="lazy"> 
                                </div>
                                <span id="game-desc-text">NFT Assets. Turn-Based. Anime-Inspired</span>
                                <div class="btn-container">
                                    <div class="btn-fit">
                                        <img src="public/assets/google-btn.png" loading="lazy">
                                    </div>
                                    <div class="btn-fit">
                                        <img  src="public/assets/apple-btn.png" loading="lazy">
                                    </div>
                                </div>
                                <button id="btn-visit-website">Visit Website</button>
                            </div>
                        </div>
                        
                        <div class="gallery-cell">
                            <div class="carousel-item-container" id="item1" style="display: flex; flex-direction: column; justify-content: center;">
                                <div>
                                    <img src="/public/assets/game-2.png" loading="lazy">
                                </div>
                                    
                                <div class="game-type2-container"  >
                                    <span class="game-type-text white-color">Coming Soon</span>
                                </div>
                            </div>
                        </div>

                        <div class="gallery-cell">
                            <div class="carousel-item-container" id="item1" style="display: flex; flex-direction: column; justify-content: center;">
                                <div>
                                    <img src="/public/assets/game-3.png" loading="lazy">
                                </div>
                                    
                                <div class="game-type2-container"  >
                                    <span class="game-type-text white-color">Coming Soon</span>
                                </div>
                            </div>
                        </div>

                        <div class="gallery-cell">
                            <div class="carousel-item-container" id="item1" style="display: flex; flex-direction: column; justify-content: center;">
                                <div>
                                    <img src="/public/assets/game-4.png" loading="lazy">
                                </div>
                                    
                                <div class="game-type2-container"  >
                                    <span class="game-type-text white-color">Coming Soon</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="gallery-cell">
                            <div class="carousel-item-container" id="item1" style="display: flex; justify-content: center;">
                                <br>
                                <div class="game-type2-container" >
                                    <span class="game-type-text white-color">More Games to come</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>    
                <div  class="img-floating mobile-text">
                    <img src="/public/assets/game-1.png" class="floating-game" loading="lazy">
                </div>     
            </div>
        </div>

    </section>

    <!--Sale Section-->
    <section class="bg-sale page-section sale-container" id="sale">
        <div class="container   " >
            <div class="row align-items-center"> 
                <div class="col-md-4 home-container">
                    <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" class="seed-sale-container" id="container1">
                        <br>
                        <div class="seed-sale-box">
                            <span class="white-color" id="s1-text">Seed Sale - 1</span>
                        </div>
                        <div class="live-text-container">
                            <span class="time-text">LIVE SOON</span>
                        </div>
    
                        <div class="token-desc-text">
                            <span id="token-price-text" class="white-color">Token Price<br>$0,015<br>
                                Total Allocation<br>
                                2% from total supply<br>
                                20,000,000 CreoEngine</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 home-container">
                    <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" class="seed-sale-container" id="container2">
                        <br>
                        <div class="seed-sale-box">
                            <span class="white-color" id="s1-text">Seed Sale - 2</span>
                        </div>
                        <div class="live-text-container">
                            <span class="time-text">COMING SOON</span>
                        </div>
    
                        <div class="token-desc-text">
                            <span id="token-price-text" class="white-color">Token Price<br>$0,02<br>
                                Total Allocation<br>
                                3% from total supply<br>
                                30,000,000 CreoEngine</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 home-container">
                    <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" class="seed-sale-container" id="container2">
                        <br>
                        <div class="seed-sale-box">
                            <span class="white-color" id="s1-text">Seed Sale - 3</span>
                        </div>
                        <div class="live-text-container">
                            <span class="time-text">COMING SOON</span>
                        </div>
    
                        <div class="token-desc-text">
                            <span id="token-price-text" class="white-color">Token Price<br>$0,025<br>
                                Total Allocation<br>
                                5% from total supply<br>
                                50,000,000 CreoEngine</span>
                        </div>
                    </div>
                </div>    
            </div>
        </div> 
        
        <%- include ('partials/footer-sale') %> 
        
    </section>

    <!--Tokenomics Section-->
    <section class="bg-tokenomics page-section home-container" id="tokenomics" >
        <div class="container">
            <div class="row">
               <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" style="display: flex; flex-direction: column; padding-left: 15px;">
                    <span class="tokenomics-text-1">Tokenomics</span>
                    <span class="tokenomics-text-2">Total Supply:</span>
                    <span class="tokenomics-text-2">1,0000,000,000 CreoEngine</span>
               </div>
                
                <div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" style=" margin-left: 50px; margin-right: 50px; margin-top: 30px;" >
                    <img src="/public/assets/Group 1222.png" loading="lazy">
                </div>
            </div>

            <div data-aos="zoom-out-down" data-aos-duration="3000" style="margin-top: 30px;">
                <div class="tokenomics-border-1" >
                    <span class="white-color partnership-text">Partnerships & Supported by</span>
                </div>
                <div class="tokenomics-border-2">

                    <div class="test">
                        <img src="/public/assets/partnership/muse.png" loading="lazy" style="width: 172px; height: 99px;">
                        <img src="/public/assets/partnership/nomina.png" loading="lazy" style="width: 172px; height: 99px;">
                        <img src="/public/assets/partnership/strt.png" loading="lazy" style="width: 172px; height: 99px;">
                        <img src="/public/assets/partnership/ama.png" loading="lazy" style="width: 172px; height: 99px;">
                        <img src="/public/assets/partnership/nusa.png" loading="lazy" style="width: 172px; height: 99px;">
                        <img src="/public/assets/partnership/hecto.png" loading="lazy" style="width: 172px; height: 99px;">
                        <img src="/public/assets/partnership/wnhair.png" loading="lazy" style="width: 172px; height: 99px;">
                        <img src="/public/assets/partnership/maxin.png" loading="lazy" style="width: 172px; height: 99px;">
                        <img src="/public/assets/partnership/serba.png" loading="lazy" style="width: 172px; height: 99px;">
                    </div>

                    <!-- <div style="display: flex; flex-direction: column; justify-content: center;">
                        <div style="display: flex; flex-direction: row;">
                            <img src="/public/assets/partnership/muse.png" loading="lazy" style="width: 172px; height: 99px;">
                            <img src="/public/assets/partnership/nomina.png" loading="lazy" style="width: 172px; height: 99px;">
                            <img src="/public/assets/partnership/strt.png" loading="lazy" style="width: 172px; height: 99px;">
                            <img src="/public/assets/partnership/ama.png" loading="lazy" style="width: 172px; height: 99px;">
                            <img src="/public/assets/partnership/nusa.png" loading="lazy" style="width: 172px; height: 99px;">
                        </div>

                        <div style="display: flex; flex-direction: row;">
                            <img src="/public/assets/partnership/hecto.png" loading="lazy" style="width: 172px; height: 99px;">
                            <img src="/public/assets/partnership/wnhair.png" loading="lazy" style="width: 172px; height: 99px;">
                            <img src="/public/assets/partnership/maxin.png" loading="lazy" style="width: 172px; height: 99px;">
                            <img src="/public/assets/partnership/serba.png" loading="lazy" style="width: 172px; height: 99px;">
                            
                        </div>
                    </div> -->

                </div>
            </div>
        </div>

    </section>

    <!--Team Section-->
    <section class="bg-team page-section home-container" id="team">
        <div class="container ">
            <div class="row">
                <div data-aos="fade-right" class="col-md-5">
                    <span class="white-color" id="our-games-text">
                        Our Team
                    </span>
                    <p class="white-color mobile-text" >The CreoEngine team is a group of developers, operators, marketers,
                        and designers with expertise in their respective fields
                    </p>
            
                    <p class="white-color desktop-text">The CreoEngine team is a group of developers, 
                        <br>operators, marketers, and designers with exper-<br>tise in their respective fields
                    </p>

                </div>
                <div data-aos="fade-left" class="col-md-7 align-items-center" >
                    <table class="desktop-container">
                        <tr>
                            <% for (var i = 0; i < 5; i++) { %>
                                  <td>
                                      <div id="desktop-size-grid-1">
                                          <img src="<%= team[i] %>" loading="lazy">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 5; i < 10; i++) { %>
                                <td>
                                    <div id="desktop-size-grid-2">
                                        <img src="<%= team[i] %>" loading="lazy">
                                    </div>
                                </td>
                                       
                            <% } %>
                        </tr> 
                        <tr>
                            <% for (var i = 10; i < 14; i++) { %>
                                <td>
                                    <div id="desktop-size-grid-2">
                                        <img src="<%= team[i] %>" loading="lazy">
                                    </div>
                                </td>
                                       
                            <% } %>
                        </tr> 
                    </table>

                    <table class="mobile-container">
                        <tr>
                            <% for (var i = 0; i < 3; i++) { %>
                                  <td>
                                      <div id="mobile-size-grid">
                                          <img src="<%= team[i] %>" loading="lazy">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 3; i < 6; i++) { %>
                                  <td>
                                      <div id="mobile-size-grid">
                                          <img src="<%= team[i] %>" loading="lazy">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 6; i < 9; i++) { %>
                                  <td>
                                      <div id="mobile-size-grid">
                                          <img src="<%= team[i] %>" loading="lazy">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 9; i < 12; i++) { %>
                                  <td>
                                      <div id="mobile-size-grid">
                                          <img src="<%= team[i] %>" loading="lazy">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 12; i < 14; i++) { %>
                                <td>
                                    <div id="mobile-size-grid">
                                        <img src="<%= team[i] %>" loading="lazy">
                                    </div>
                                </td>

                            <% } %>
                            
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- Roadmap Section-->
    <section class="bg-roadmap page-section home-container"  id="roadmap">
        <div class="container" data-aos="zoom-in">
            <div class="row" >
                <% for (var i = 0; i < roadmap.length; i++) { %>
                    <div class="col-md-4 rightbox" >
                        <div class="rb-container">
                            <ul class="rb">
                                <% for (var j = 0; j < roadmap[i].length; j++) { %>
                                    <li class="rb-item" ng-repeat="itembx">
                                        <div class="timestamp">
                                            <%= roadmap[i][j].timeline %>
                                        </div>
                                        <div class="item-title"> <%- roadmap[i][j].title %></div> 
                                    </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>                
                <% } %>
            </div>
        </div>
        <%- include ('partials/footer-roadmap') %>
        
    </section>

    
    <script>
        AOS.init();
    </script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
    <script src="/public//js/function.js"></script>
    <script src="/public/js/wallet-service.js"></script>

</body>
</html>