    <%- include ('partials/header',{title:"Creo Engine"}) %> 

    <!--Home Section-->
    <section class="bg-main page-section home-container" id="home">
        <div class="container" id="home-adjust">
            <div class="row align-items-center" >
                <div class="col-md-6">
                    <div>
                        <p class='text-main '>
                            <span class='text-main text-bolder'>CREO</span><span class='text-main-2 text-bolder '>tion for All</span>
                        </p>
                        <p class=' text-main font-barlow'>
                            Best Decentralized<br>
                            Gaming Ecosystem Platform
                        </p>
                    </div>      
                </div>
                <div class="col-md-6" >
                    <div  class="img-fit">
                        <div  class="floating-img-container">
                            <div class="floating-3" style="height: 60px; width: 60px; position: absolute; top: 200px; left:-5%;">
                                <img src="/public/assets/home (2).png">
                            </div>
                            <div class="floating-4" style="height: 150px; width: 150px; position: absolute; top: 140px;left: 80%;">
                                <img src="/public/assets/home (3).png">
                            </div>
                            <div class="floating-2" style="height: 170px; width: 170px; position: absolute; top: -40px;left: 60%;">
                                <img src="/public/assets/home (4).png">
                            </div>
                            <div class="floating-5" style="height: 150px; width: 150px; position: absolute; top: 100px; left: 20%;">
                                <img src="/public/assets/home (5).png">
                            </div>
                            <div class="floating" style="height: 330px; width: 330px; position: absolute; top: 250px; left: 10%;">
                                <img src="/public/assets/home (6).png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <!-- Game Section-->
    <section class="bg-game page-section home-container" id="game" >
        <div class="container"  >
            <div class="row" >
                <div class="col-md-5">
                    <div >
                        <span class="white-color" id="our-games-text">
                            Our Games
                        </span>
                        <p class="white-color">All CreoEngine games are interoperable,
                            <br>that gamers can enjoy with their NFTs<br>(non-fungible tokens).
                        </p>

                    </div>
                </div>

                <div class="col-md-7">
                    <div class="gallery js-flickity">
                        <div class="gallery-cell">
                            <div class="carousel-item-container" id="item1">
                                <br>
                                <div class="game-type-container">
                                    <span class="game-type-text" id="game-text-1">RPG</span>
                                </div>
                                <div class="game-img-container">
                                    <img  src="public/assets/game.png"> 
                                </div>
                                <span id="game-desc-text">NFT Assets. Turn-Based. Anime-Inspired</span>
                                <div class="btn-container">
                                    <div class="btn-fit">
                                        <img src="public/assets/google-btn.png">
                                    </div>
                                    <div class="btn-fit">
                                        <img  src="public/assets/apple-btn.png">
                                    </div>
                                </div>
                                <button id="btn-visit-website">Visit Website</button>
                            </div>
                        </div>
                        <div class="gallery-cell">
                            <div class="carousel-item-container" id="item1">
                                <br>
                                <div class="game-type2-container">
                                    <span class="game-type-text white-color">More Games to come</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>    
                <div  class="img-floating">
                    <img src="/public/assets/game-1.png" class="floating">
                </div>     
            </div>
        </div>

    </section>

    <!-- Roadmap Section-->
    <section class="bg-roadmap page-section home-container"  id="roadmap">
        <div class="container ">
            <div class="row">
                <% for (var i = 0; i < roadmap.length; i++) { %>
                    <div class="col-md-4 rightbox" >
                        <div class="rb-container">
                            <ul class="rb">
                                <% for (var j = 0; j < roadmap[i].length; j++) { %>
                                    <li class="rb-item" ng-repeat="itembx">
                                        <div class="timestamp">
                                            <%= roadmap[i][j].timeline %>
                                        </div>
                                        <div class="item-title"> <%- roadmap[i][j].title %></div>
                            
                                    </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>                
                <% } %>
            </div>
        </div>
    </section>

    <!--Sale Section-->
    <section class="bg-sale page-section sale-container" id="sale">
        <div class="container   " >
            <div class="row align-items-center justify-content-center"  > 
                <div class="col-md-4">
                    <div class="seed-sale-container" id="container1">
                        <br>
                        <div class="seed-sale-box">
                            <span class="white-color" id="s1-text">Seed Sale - 1</span>
                        </div>
                        <div class="live-text-container">
                            <span class="time-text">LIVE SOON</span>
                        </div>
    
                        <div class="token-desc-text">
                            <span id="token-price-text" class="white-color">Token Price<br>$0,015<br>
                                Total Allocation<br>
                                2% from total supply<br>
                                20,000,000 CreoEngine</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="seed-sale-container" id="container2">
                        <br>
                        <div class="seed-sale-box">
                            <span class="white-color" id="s1-text">Seed Sale - 2</span>
                        </div>
                        <div class="live-text-container">
                            <span class="time-text">COMING SOON</span>
                        </div>
    
                        <div class="token-desc-text">
                            <span id="token-price-text" class="white-color">Token Price<br>$0,02<br>
                                Total Allocation<br>
                                3% from total supply<br>
                                30,000,000 CreoEngine</span>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="seed-sale-container" id="container2">
                        <br>
                        <div class="seed-sale-box">
                            <span class="white-color" id="s1-text">Seed Sale - 3</span>
                        </div>
                        <div class="live-text-container">
                            <span class="time-text">COMING SOON</span>
                        </div>
    
                        <div class="token-desc-text">
                            <span id="token-price-text" class="white-color">Token Price<br>$0,025<br>
                                Total Allocation<br>
                                5% from total supply<br>
                                50,000,000 CreoEngine</span>
                        </div>
                    </div>
                </div>    
            </div>
        </div> 
        
        <%- include ('partials/footer') %> 
        
    </section>

    <!--Team Section-->
    <section class="bg-team page-section home-container" id="team">
        <div class="container ">
            <div class="row">
                <div class="col-md-5">
                    <span class="team-text" id="our-team-text">
                        Our Team
                    </span>
                    <p class="team-text mobile-text" >The CreoEngine team is a group of developers, operators, marketers,
                        and designers with expertise in their respective fields
                    </p>
            
                    <p class="team-text desktop-text">The CreoEngine team is a group of developers, 
                        <br>operators, marketers, and designers with exper-<br>tise in their respective fields
                    </p>

                </div>
                <div class="col-md-7 align-items-center" >
                    <table class="desktop-container">
                        <tr>
                            <% for (var i = 0; i < 5; i++) { %>
                                  <td>
                                      <div id="desktop-size-grid-1">
                                          <img src="<%= team[i] %>" >
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 5; i < 9; i++) { %>
                                <td>
                                    <div id="desktop-size-grid-2">
                                        <img src="<%= team[i] %>">
                                    </div>
                                </td>
                                       
                            <% } %>
                        </tr> 
                        <tr>
                            <% for (var i = 9; i < 13; i++) { %>
                                <td>
                                    <div id="desktop-size-grid-2">
                                        <img src="<%= team[i] %>">
                                    </div>
                                </td>
                                       
                            <% } %>
                        </tr> 
                    </table>

                    <table class="mobile-container">
                        <tr>
                            <% for (var i = 0; i < 3; i++) { %>
                                  <td>
                                      <div id="mobile-size-grid">
                                          <img src="<%= team[i] %>">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 3; i < 6; i++) { %>
                                  <td>
                                      <div id="mobile-size-grid">
                                          <img src="<%= team[i] %>" >
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 6; i < 9; i++) { %>
                                  <td>
                                      <div id="mobile-size-grid">
                                          <img src="<%= team[i] %>">
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <% for (var i = 9; i < 12; i++) { %>
                                  <td>
                                      <div id="mobile-size-grid">
                                          <img src="<%= team[i] %>" >
                                      </div>
                                  </td>
                                   
                            <% } %>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div id="mobile-size-grid">
                                    <img src="<%= team[12] %>">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
    <script src="/public//js/function.js"></script>
    <script src="/public/js/wallet-service.js"></script>

</body>
</html>